*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
h1{
    background-color: rgb(255, 115, 0);
    color: #222;
    text-align: center;
    margin-bottom: 2rem;
    padding: 1rem 0rem;
}
.box{
    border: 5px solid rgb(255, 115, 0);
    cursor: pointer;
    border-radius: 10px;
}
.box:hover{
    background-color: rgb(254, 154, 73);
}
.br-0{
    border-right: none;
}
.bl-0{
    border-left: none;
}
.bt-0{
    border-top: none;
}
.bb-0{
    border-bottom: none;
}
